.borde-user {
    border: 2px solid #4CAF50; /* Borde sólido verde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno para que el contenido no se pegue al borde */
    background-color: #f2f2f2; /* Color de fondo */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Sombra */
  }
  
#botonguapisimoeditar {
    background-color: rgb(114, 170, 151);
    color: black;
    border-radius: 4px;
    border: 2px;
}

#botonguapisimoeditar:hover {
    background-color: rgb(37, 71, 60);
    color: rgb(243, 243, 243);
}

#botonEliminar {
    background-color: #a32e00;
    color: #ffffff;
    font-weight: bold;
}

#botonEditar {
    background-color: #3f753a;
    color: #b9f0b9;
    font-weight: bold;
}

#botonNuevo {
    display: flex;
    justify-content: left;
    background-color: #1b4585;
    color: #ffffff;
    margin-bottom: 10px;
}

#botonMostrar {
    background-color: #5a85ad;
    color: #ffffff;
    font-weight: bold;
}

#botonUserSinPulsar {
    background-color: #5a85ad;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

#botonUserPulsado {
    background-color: #1f5180;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

#caja-2x2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    padding: 5px;
    margin: auto;
  }
  
.celda {
    width: 100%;
    padding: 5px;
    border-radius: 5%;
    background: gold;
  }


